{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <br />
      <a class="btn btn-primary btn-md px-4 mb-2" href="{{ "user-guide/introduction/" | absURL }}" role="button">Get started</a>
      <a class="btn btn-outline-primary btn-md px-4 mb-2" href="https://github.com/terraform-docs/terraform-docs/" role="button">Go to GitHub</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<div class="d-flex justify-content-start">
  <div class="bg-dots"></div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-centerx text-left">
      <div class="col-lg-5">
        <h2 class="h4">Multiple formats</h2>
        <p class="text-left">Markdown, AsciiDoc, JSON, and more. Check out all available <a href="{{ "user-guide/configuration/" | absURL }}#formatters">formats</a>.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Extensible</h2>
        <p>Extend terraform-docs by <a href="{{ "developer-guide/plugins/" | absURL }}">Plugin</a> and build your own formatter.</div>
      <div class="col-lg-5">
        <h2 class="h4">CI-friendly</h2>
        <p>Automate document generation in pull requests with <a href="{{ "user-guide/how-to/" | absURL }}#github-action">GitHub Action</a>.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}
